<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TrackPack</title>
    <br>
    <button type="submit">Logout</button>

</head>

<body>

    <div id="login">
    </div>

    <div id="top">
        <H1>TrackPack</H1>
    </div>
    <br>
    <fieldset>
        <span>Ship From Address</span>
        <input type="text" />
        <span>City</span>
        <input type="text" />
        <span>State</span>
        <input type="text" />
        <span>Zip Code</span>
        <input type="text" />
    </fieldset>
    <br>
    <fieldset>
        <span>Ship TO Address</span>
        <input type="text" />
        <span>City</span>
        <input type="text" />
        <span>State</span>
        <input type="text" />
        <span>Postal Code</span>
        <input type="text" />
        <button type="submit">Get Rates</button>
    </fieldset>
    <br>
    <div id="middle">
    </div>

    <div id="trackingnumber">
        <form action="/add-game" method="post">
            <input type="text" placeholder="Enter your tracking number" name="gameName" />
        </form>
    </div>

    <div id="shippingservice">
        <form action="/add-game" method="post">
            <input type="text" placeholder="Enter a shipping service" name="gameName" />
        </form>
    </div>


    <button type="submit">Track Pack</button>
    <br>
    <br>
    </form>

    </div>

    <br>
    <div id="status info">
        <table>
            <tr>
                <th>SHIPPED FROM</th>
                <th>SHIPPED DATE</th>
                <th></th>SHIPPED TO
                <th>STATUS</th>
                <th>DELIVERY DATE</th>
            </tr>
            <tr>
                <td>Bloggs, Fred</td>
                <td>02.08.2016</td>
                <td>Out For Delivery</td>
                <td>18/08/2003</td>
                <td>08/18/2003</td>
            </tr>
            <tr>
                <td>Turvey, Kevin</td>
                <td>01.03.2016</td>
                <td>Delivered</td>
                <td>02/05/1979</td>
                <td>05/02/1979</td>
            </tr>
            <tr>
                <td>Mbogo, Arnold</td>
                <td>06.01.2016</td>
                <td>Delivered</td>
                <td>09/08/1998</td>
                <td>08/09/1998</td>
            </tr>
            <tr>
                <td>Shakespeare, Bill</td>
                <td>06.12.2016</td>
                <td>Delayed</td>
                <td>12/11/1961</td>
                <td>11/12/1961</td>
            </tr>
            <tr>
                <td>Shakespeare, Hamnet</td>
                <td>04.02.2016</td>
                <td>Delivered</td>
                <td>01/01/2002</td>
                <td>01/01/2002</td>
            </tr>
            <tr>
                <td>Fitz, Marvin</td>
                <td>04.30.2016</td>
                <td>Delayed</td>
                <td>22/05/1995</td>
                <td>05/22/1995</td>
            </tr>
        </table>



    </div>

</body>

</html>
